.entries {
  padding: 50px;
  margin-left: 40px;
}

.div {
  display: flex;
  flex-direction: row;
  border: 3px solid #9cccc5;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  width: 100px;
  height: 30px;
}
