body {
  background-color: #f2dda4;
  font-family: 'RursusCompactMonoMedium';
  font-weight: normal;
  font-style: normal;
}

textarea {
  border-radius: 10px;
  border: 2px solid black;
}

.button {
  font-family: 'RursusCompactMonoMedium';
  font-weight: normal;
  font-style: normal;
  border-radius: 10px;
  width: 60px;
  margin-left: 45px;
}
/* .hover:hover {
  width: 50px;
  height: 50px;
} */
h3,
h1 {
  margin-left: 50px;
}
input {
  border-radius: 10px;
  height: 35px;
}
.App {
  text-align: center;
}
