body {
  background-color: #f2dda4;
  font-family: 'RursusCompactMonoMedium';
  font-weight: normal;
  font-style: normal;
}

textarea {
  border-radius: 10px;
  border: 2px solid black;
}

.Entries {
  margin-right: 35px;
}

.button {
  border: 2px solid black;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #f2dda4, #9cccc5);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  margin-left: 90px;
}

.button .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #f2dda4, #9cccc5);
}

.button:after {
  content: '';
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.button:hover {
  background-image: linear-gradient(-45deg, #f2dda4, #9cccc5);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.button:hover .text {
  background-image: linear-gradient(-45deg, #f2dda4, #9cccc5);
}
h3 {
  margin-left: 50px;
}
input {
  border-radius: 10px;
  height: 35px;
  padding: 2px 2px 2px;
  margin: 6px 6px 6px;
}
.App {
  text-align: center;
}
